@background: #00ACED;
@foreground: #FFFFFF;

@ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
@ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

.fadeupin(@duration: 1s, @delay: 0s) {
	animation: slideupin @duration 1 @ease-out-expo @delay,
		fadein (@duration + @delay) 1 linear 0s;
}

.fadeupout(@duration: 1s, @delay: 0s) {
	animation: slideupout @duration 1 @ease-out-expo @delay,
		fadeout (@duration + @delay) 1 linear 0s;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	font-size: 20px;
	color: @foreground;
	align-items: center;
	font-family: 'Source Sans Pro', 'Segoe UI', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	cursor: default;
	// background-color: rgba(0, 0, 0, 0.2);
	background-color: fade(darken(@background, 20%), 50%);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	animation: fadein 1s 1 linear 0s;

	.container {
		width: 100%;
		// max-height: 75%;
		background-color: fade(@background, 60%);
		.fadeupin(1s, 0s);
		overflow: hidden;

		.content {
			margin: 0 auto;
			width: 60%;
			max-height: 75vh;
			padding: 32px 32px 32px 192px;
			position: relative;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;

			.content-view {
				flex: 1 1 auto;
				.fadeupin(1s, 0.1s);

				&.scrollable {
					// height: calc(100% - 128px);
					overflow-y: auto;
					border: 2px solid mix(@foreground, @background, 20%);
					padding: 16px;
					margin-top: 16px;
				}
			}

			&.no-icon {
				padding: 32px;
			}

			.icon {
				width: 128px;
				height: 128px;
				display: block;
				line-height: 1;
				position: absolute;
				left: 32px;
				top: 32px;
				font-size: 128px;
				// color: mix(@foreground, @background, 20%);
				// filter: brightness(180%);
				.fadeupin(1s, 0.05s);
			}

			h1 {
				font-weight: 100;
				line-height: 1;
				margin: 0 0 16px 0;
				.fadeupin(1s, 0.05s);
				flex: 0 0 auto;

				&.x-large { font-size: 300%; }
				&.large { font-size: 250%; }
				&.medium { font-size: 200%; }
				&.small { font-size: 150%; }
				&.x-small { font-size: 100%; }
			}

			p {
				line-height: 1.5;
				margin-top: 0;
				color: @foreground;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a:link, a:visited {
				color: mix(@foreground, @background, 50%);
				text-decoration: none;
				transition: all 0.1s @ease-out-expo;

				&:hover {
					color: @foreground;
				}
			}

			.actions {
				.fadeupin(1s, 0.2s);
				margin-top: 16px;
				align-self: flex-end;
				flex: 0 0 auto;

				a {
					display: inline-block;
					cursor: default;
					padding: 8px 32px;
					text-align: center;
					min-width: 64px;
					border: 2px solid mix(@foreground, @background, 20%);
					margin-left: 16px;
					color: mix(@foreground, @background, 80%);
					// background: @background;
					text-decoration: none;
					transition: all 0.1s @ease-out-expo;

					&:hover, &:focus {
						// background: mix(@foreground, @background, 20%);
						color: @foreground;
						border: 2px solid mix(@foreground, @background, 60%);
					}

					&:active {
						background: @foreground;
						color: @background;
						border-color: @foreground;
						// border-color: mix(@background, @foreground, 20%);
					}
				}

				a.soft {
					border: none;
					background: none;

					&:active {
						color: mix(@foreground, @background, 40%);
					}
				}

				a.default {
					color: @foreground;
					border-color: transparent;
					background: mix(@foreground, @background, 20%);

					&:hover {
						border-color: @foreground;
						// background: mix(@foreground, @background, 40%);
					}
					&:active {
						background: @foreground;
						color: @background;
					}
				}
			}
		}
	}

	&.hidden {
		animation: fadeout 1s 1 linear 0s;

		.container {
			.fadeupout(1s, 0s);

			h1, .icon {
				.fadeupout(1s, 0.05s);
			}

			.content-view {
				.fadeupout(1s, 0.1s);
			}

			.actions {
				.fadeupout(1s, 0.2s);
			}
		}
	}
}

@keyframes fadein {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes fadeout {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes slideupin {
	0% { transform: translate3D(0, 64px, 0); }
	100% { transform: translate3D(0, 0, 0); }
}

@keyframes slideupout {
	0% { transform: translate3D(0, 0, 0); }
	100% { transform: translate3D(0, -64px, 0); }
}
